
body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  border: 1px solid black;
  width: 30%;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App>.counterapp>h1{
  
  font-size: 3rem;

}
.App>.counterapp>h3{
  
  font-size: 2rem;

}
.App>.counterapp>.btn{

  width: 30%;
  margin: auto;

  display: flex;
  gap: 1.4rem;
}
.App>.counterapp>.btn>.up
{
  height: 2rem;
  width: 6rem;
  background-color: rgb(3, 165, 3);
  color: white;
  border: none;
  box-shadow: 0 5px 9px rgb(68, 68, 68);
}
.App>.counterapp>.btn>.down
{
  height: 2rem;
  width: 6rem;
  background-color: rgb(221, 18, 3);
  color: white;
  border: none;
  box-shadow: 0 5px 9px rgb(68, 68, 68);
}

